name: Deploy to Cloudflare

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - uses: aquaproj/aqua-installer@5e54e5cee8a95ee2ce7c04cb993da6dfad13e59c # v3.1.2
        with:
          aqua_version: v2.47.1

      - name: Build
        run: |
          git submodule init
          git submodule update
          hugo

      - name: Setup aws-cli for Cloudflare
        run: |
          echo "AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY" >> $GITHUB_ENV
          echo "AWS_DEFAULT_REGION=auto" >> $GITHUB_ENV
          echo "ENDPOINT=$ENDPOINT" >> $GITHUB_ENV
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          ENDPOINT: ${{secrets.S3_ENDPOINT}}

      - name: Upload to R2
        working-directory: public
        run: aws s3 sync . s3://portfolio --endpoint-url $ENDPOINT

      - name: Send purge request to Fastly
        run: fastly purge --service-name portfolio --all
        env:
          FASTLY_API_TOKEN: ${{secrets.FASTLY_API_TOKEN}}
