name: Test

on:
  pull_request:

jobs:
  typo:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@5e54e5cee8a95ee2ce7c04cb993da6dfad13e59c # v3.1.2
        with:
          aqua_version: v2.47.1
      - name: Check typo
        run: github-comment exec -- typos --exclude themes/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  ghalint:
    timeout-minutes: 10
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@5e54e5cee8a95ee2ce7c04cb993da6dfad13e59c # v3.1.2
        with:
          aqua_version: v2.47.1
      - name: Run ghalint
        run: github-comment exec -- ghalint run
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  status-check:
    timeout-minutes: 1
    permissions: {}
    runs-on: ubuntu-latest
    needs:
      - typo
      - ghalint
    if: failure()

    steps:
      - run: exit 1
